body {
    background-color:  rgb(120, 217, 246);
    background-image: url("1600w-_Tcjok-d9b4.webp");
    font-family: "Trirong", serif;
}
p {
    color: rgb(0, 0, 0);
  }

a {
    color: rgb(243, 113, 7);
    font-weight: bold;
}

.abox {
    display: block;
}

.pbox {
    width: 720px;
    height: 200px;
}

.ptbox {
    width: 720px;
    height: 420px;
}

.center {
    margin: auto;
    width: 46%;
}

h2.box {
    display: block;
}

img.box {
    width: 720px;
    height: 420px;
}

p.box {
    width: 720px;
    height: 200px;
}

a.box {
    display: block;
}

